.debug{
  border: 1px solid white;
}

.debug-2{
  border: 1px solid black;
  height: 50px;
}

.debug-3{
  border: 1px solid black;
}

.lp-container{
  width: 60%;
  margin: 0 auto;
}

header{
  height: 90px;
  background-color: #222E3E;
}

.text_custom,
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link.text_custom{
  color: white;
  font-weight: 600;
}

.jumbotron{
  height: 490px;
  background-color: #1FB18A;
}

.jumbotron img{
  width: 20%;
  padding: 60px 0 20px 0;
}

.about{
  background-color: #1FB18A;
}

.btn-success{
  background-color: #1FB18A;
}

.footer-top{
  background-color: #2C425A;
}

.footer-bottom{
  background-color: #212F3F;
  height: 90px;
}