.lp-container{
  width: 60%;
  margin: 0 auto;
}

header{
  height: 90px;
  background-color: #222E3E;
}

.text_custom,
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link.text_custom{
  color: white;
  font-weight: 600;
}

.jumbotron{
  background-color: #1FB18A;
  padding-bottom: 60px;
}

.jumbotron img{
  width: 30%;
  padding: 60px 0 20px 0;
}

.bar-left,
.bar-right{
  width: 10%;
  height: 4px;
  background-color: white;
}

.bar-left-b,
.bar-right-b{
  width: 10%;
  height: 4px;
  background-color: black;
}

.about{
  background-color: #1FB18A;
}

.btn-success{
  background-color: #1FB18A;
}

.footer-top{
  background-color: #2C425A;
}

.footer-top .text-decoration-none{
  color: #1FB18A;
}

.footer-top .text-light i{
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 5px;
}

.footer-bottom{
  background-color: #212F3F;
  height: 90px;
  font-size: .8rem;
}